.Leftbar {
    background-image: linear-gradient(#343A40,#1a1e21,#0c0d0f);
    color: #ffffff;
}


.LeftbarHeader {
    font-family: "Pokemon";
    margin: 10px;
    text-shadow: 4px 4px 5px rgba(0,0,0,1);
}

.twitterAccount {
    color: rgb(143, 143, 143);
}

.twitterAccount:hover {
    text-decoration: none;
    color: rgb(143,143,143);
}

@media(min-width: 851px) {
    .LeftbarHeader {
        font-size: 2em;
    }
}

@media(max-width:850px) {
    .LeftbarHeader {
        font-size: 1em;
    }
}